.App {
  text-align: center;
  width: 400px;
  margin: 20px auto;
}

.Form {
  width: 360px;
  margin: 20px auto;
}

.PreviousResult {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.Previous-ul {
  text-align: left;
  width: 250px;
  margin: 0 auto;
}

button {
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer none;
  margin: 0 5px;
  background-color: grey;
}

.Result {
  width: 360px;
  margin: 20px auto;
  font-size: 20px;
}

.top-part {
  float: top;
  width: 360px;
  height: 140px;
}

.bottom-part {
  float: bottom;
  width: 360px;
  height: 100px;
}

ul {
  list-style: none;
}

.left-container {
  float: left;
  text-align: right;
  width: 120px;
  line-height: 30px;
}

.middle-container {
  float: left;
  text-align: right;
  width: 90px;
  line-height: 30px;
}

.right-container {
  float: left;
  text-align: right;
  width: 120px;
  line-height: 30px;
}
